@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> loginManager
@model Blog.Models.ViewModels.BlogDetails
@inject UserManager<IdentityUser> userManager

@{
    ViewData["Title"] = Model.PageTitle;
}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
            @if(Model != null)
            {
                <h1 class="mb-3">@Model.Heading</h1>
                <div class="d-flex justify-content-between mb-3">
                    <span class="text-secoundary">@Model.Author</span>
                    <span class="text-secoundary">@Model.PublishedDate</span>
                </div>

                <div class="mb-3">
                    @if (loginManager.IsSignedIn(User))
                    {
                        <a id="like" class="btn btn-dark" style="cursor:pointer">
                            <i class="bi bi-heart-fill"></i>
                        </a>
                    }
                    <span>@Model.LikeTotal likes</span>
                </div>
                
                <div class="mb-3 d-flex">
                    @foreach (var tag in Model.Tags)
                    {
                        <span class="badge bg-secondary me-1">@tag.Name</span>
                    }
                </div>
                <img src="@Model.FeaturedImageUrl" class="d-block img-fluid mb-3"/>
                <div class="mb-3 blog-content">
                    @Html.Raw(Model.Content);
                </div>

            }
            else
            {
                <p>Blog not found!</p>
            }
        </div>
    </div>
</div>

@section Scripts{
    <script>
        const likeButtonElement = document.getElementById("like");
        async function addBlogLike(){
            fetch('/api/BlogLike/Add', {
                method: 'POST',
                headers:{
                    'Content-Type':'application/json',
                    'Accept':'*/*'
                },
                body: JSON.stringify({ BlogPostId: '@Model.Id', UserId: '@userManager.GetUserId(User)'})
            })
            .then(console.log("Like Request Completed"))
        }

        likeButtonELement.addEventListner('click', addBlogLike);
    </script>
}
